body{
     background-image:url(background.jpg);
    background-repeat: no-repeat; 
    background-size:cover; 
    background-position: fixed;
    height: 4000px;   
}
.container{
    margin-left: 35%;
     
    width: 1500px;
    height: 900px;  
    background-color: antiquewhite;
      padding:  50px 50px 50px 50px;
}
.container{
  font-size: 80px;
}
 
h1{
  font-size: 200px;
}
#dm {
  font-size: 90px;
  text-align: center;
}
#btn{
  font-size: 50px;
}
#msg{
  font-size: 80px;
}
input{
  font-size: 50px;
}